<!-- This is where the form for the addition of a new DR goes -->
<h1>Add a new Doctor below!</h1>
<form action="/doctors" method="post">
  <div class="form-group">
    <label for="doctor_name">Doctor name</label>
    <input id="n" name="doctor_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add doctor</button>
  </form>
<!-- Redirects to /doctors -->


